<div class="container">
	<div class="container">
	 <h1> Farms </h1> 
	<%= link_to "Post a new Farm", new_farm_path %>
	<br />
	<br />
	
	<div id="farm-index"></div>
	<div id="map-container">
	  <div id="map-canvas"></div>
	</div>
	<div id="geo-locate"></div>
	<br />
	<div id="farms">
	  <%= render @farms %>
	</div>

	<script type="text/javascript">
	  farms_coords = <%= raw @farms.map { |f| { latitude: f.latitude.to_f, longitude: f.longitude.to_f, infoWindow: (render partial: "info_window", locals: {farm: f})}}.to_json %>
	</script>
</div>
</div>