<div class="container">
  <div class="container">
  	<h1>Add a Farm</h1>
  	<div class="links"><%= link_to "Back", @farm %></div>
  	<br>
  	<%= render partial: "form", locals: {tag_names: @tag_names, merchant_names: @merchant_names} %>
  </div>
</div>