<h1> Welcome to Localvore </h1>
<%= link_to "View all farms", farms_url %><br/>
<%= link_to "Post a new Farm", new_farm_path %> <br/>
<%= link_to "View all merchants", merchants_url %><br/>
<%= link_to "Post a new Merchant", new_merchant_path %><br/>

