<h1> Merchants </h1>
<%= link_to "Post a new Merchant", new_merchant_path %>
</br>

<div id="merch-index"></div>
<div id="map-container">
  <div id="map-canvas"></div>
</div>

<%= render @merchants %>