<div class="container">
	<div class="container">
	<h1> Merchants </h1>
	<%= link_to "Post a new Merchant", new_merchant_path %>
	<br>
	<p> To view more information about a merchant and find out where the food they sell comes from, click on a yellow marker andfollow the link inside.</p>

	<div id="merch-index"></div>
	
	<div id="map-container">
	  <div id="map-canvas"></div>
	</div>
	<div id="geo-locate"></div>

	 <%= render @merchants %>


	<script type="text/javascript">
	  merch_coords = <%= raw @merchants.map { |f| { latitude: f.latitude.to_f, longitude: f.longitude.to_f, infoWindow: (render partial: "info_window", locals: {merchant: f})}}.to_json %>
	</script>
</div>
</div>