/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require foundation_and_overrides
 *= require select2
 *= require_self
 

 *= require_tree .
 */


#map-canvas {
	height: 500px;
	width: 100%;
	-webkit-transform: none !important; 
}

#map-canvas img {
	max-width: inherit;
	-webkit-transform: none !important; 
}

#map-container {
  width: 70%;
}

.map *, .map *:before, .map *:after {
    -webkit-transform: none !important; 
}

.navbar {
  width: 100%;
  height: 50px;
  top: 0;
  padding: 1px 16px;
  
  box-shadow: 0px 0 6px rgba(0, 0, 0, 0.5);
  background: linear-gradient(top, #B64926, #9C3E20);
  background: -webkit-linear-gradient(top, #B64926, #9C3E20);
  background: -moz-linear-gradient(top, #B64926, #9C3E20);
  background: -o-linear-gradient(top, #B64926, #9C3E20);
  background-image: -ms-linear-gradient(#B64926, #9C3E20);
  color: white;
  /*font-family: Geneva;*/
}

.navbar a {
	color: white;
}

.navbuttons {
  float: right;
  padding: 0 0px 0 0;
  margin: 13px 0 0 0;
}
.navbuttons .navbutt {
	display: inline-block;
	padding: 0px 10px 0px 10px;
}

.navbuttons .navsearch {
  display: inline-block;
  padding: 0px 0px 0px 0px;
  margin: -7px 0px 0px 0px;
}


.container {
  width: 90%;
  margin: 30px auto 0 auto;
  border-radius: 5px;
  padding: 30px;
  background: #FFFFFF;
  
}


