// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#tag_cloud {
	width: 400px;
	line-height: 1.6em;
	.s { font-size: 1em;}
	.m { font-size: 1.5em; }
	.l { font-size: 2em; }
  float: right;
  max-width: 15%;
  max-height: 750px;
  overflow-y: auto;
  margin: 10px;
  padding: 5px;
}
